* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: whitesmoke;
}
.content {
    max-width: 600px;
    height: 90%;
    margin:0 auto;
    border-left: 0.5px solid rgb(236, 231, 231);
    border-right:0.5px solid rgb(236, 231, 231);
    background-color: lightgray;
     
}

.posts li{
    background-color: white;
    position: relative;
    display: flex;
    border-bottom: 1px solid rgb(236, 231, 231);
    padding: 17px;
}

.posts li .logo{
    flex-basis: 10%;
    min-width: 60px;
}
.posts li .name-body{
    flex-basis: 90%;
}

h3{
    text-align: center;
    margin-right: 12px;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.post_form{
    padding:30px 40px;
    border-bottom:1px solid rgb(236, 231, 231);
    text-align: center;
    background-color: white;
}

.input-name{
    background-color: whitesmoke;
    border:none;
}
.post_form input{
    padding:10px;
    border: 0.5px solid rgb(236, 231, 231);
    border-radius: 10px;

}
.post_form textarea{
    width:90%;
    padding:10px;
    margin: 10px 0px;
    border-radius: 10px;


}

.posts li .logo img{
    width: 60%;
    border-radius: 30px;
    background-color: lightgrey;
}

.posts li .name{
    font-weight: bold;
    font-size:20px;
    padding:2px;
} 

.posts li .datetime{
    color: gray;
    font-size: 12px;
    padding: 3px;
} 
.bodytext{
    font-size:18px;
    font-weight:lighter;
    padding-bottom:20px;
    padding-top: 20px;
    padding-left: 4px;
}
 

.posts li .menu_icon{
    width:20px;
    position: absolute;
    right:30px;
    top: 18px;
}

.posts li .menu{
    display: none  ;
    position: absolute;
    top:40px;
    right:15px;
    border: 1px solid rgb(236, 231, 231);
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
} 
.posts li .menu a{
    text-decoration: none;
}
.header-main {
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    background-color: white;
}
 
.header-main img{
    width:60px;
    margin-left: 15px;
}
.logo {
    width: 50px;
    margin-right: 20px;
}
.like-button{
    background-color: sky;
    border:none;    
}
.likes-count{
    padding-top: 3px;
    padding-left: 8px;
    font-size: 14px;
    color: rgb(128, 124, 124);

}
.row{
    display:flex;
    flex-direction: row;
    padding-left: 5px;
}
a{
    text-decoration: none;
}

.tweet button{ 
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    font-size: 15px;
    margin: -20px 5px;
    cursor: pointer;
    background-color: skyblue;
    border-radius: 10px;

}  
#postgap{
    margin-bottom: 5px;
    margin-top: 5px;
}
.post-border {
    width: 85%;    
}

.post_form{
    display: flex;
    padding: 30px 15px;
    border-top: 1px solid #ccc;
}

.post_form .logo {
    flex-basis: 10%;
    min-width: 60px;
}
.post_form .logo img{
    width: 60%;
    text-align: left;
}
input.input-name {
    width: 90%;
}